---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <section id="about" class="flex flex-col justify-center content-center mt-5 gap-5">
        <h2 class="flex justify-center font-semibold font-mono">About Us</h2>
        <p class="flex justify-center">Startup Company is dedicated to providing innovative solutions that meet the needs of our customers. Our team is passionate about technology and committed to delivering excellence.</p>
    </section>
</Layout>

<style lang="scss">

</style>
