---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<section id="contact" class="flex flex-col justify-center content-center mt-5 gap-5">
        <h2 class="flex justify-center font-semibold font-mono">Contact Us</h2>
        <p class="flex justify-center">If you have any questions or would like to learn more about our services, please reach out to us at <a href="mailto:info@startupcompany.com">info@startupcompany.com</a>.</p>
    </section>
</Layout>

<style lang="scss">

</style>
