---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<section id="services" class="flex flex-col justify-center content-center mt-5 gap-5">
        <h2 class="flex justify-center font-semibold font-mono">Our Services</h2>
        <p class="flex justify-center">We offer a range of services including web development, mobile app development, and digital marketing. Our experts are here to help your business grow and succeed.</p>
    </section>
</Layout>

<style lang="scss">

</style>
