<html lang="en">
<head class="bg-white">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup Company</title>
    <style>
        
    </style>
</head>
<body>



<main>
    <div class="flex bg-slate-200 min-h-96">Image here</div>
</main>

<footer>
</footer>

</body>
</html>
