---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="flex justify-between p-3 font-serif border-b-8 border-black">
			<a class=" text-5xl font-bold " href="/">Mixer</a>
			<nav class="font flex gap-8 mt-3 mr-5">
				<a href="/about">About</a>
				<a href="/services">Services</a>
				<a href="/contact">Contact</a>
				<a href="/storefront">Store</a>
			</nav>
		</header>
		
		
		
		<slot />
	</body>
</html>
<style is:global>
	
</style>
